#q-button-row * {
  margin-right: 4px;
  margin-left: 4px;
}

body {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main * {
  margin-top: 8px;
}
