.lang-picker {
  display: flex;
  flex-direction: row;
}

.inline-opts > * {
  margin-top: 0;
}

#q-button-row * {
  margin-right: 4px;
  margin-left: 4px;
}

#q-textfield {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#q-textfield * {
  margin-top: 0;
}

#q-input {
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
}

#question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#result {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#memeLoading {
  text-align: center;
}

main * {
  margin-top: 8px;
}
